{% set feature_content ="" %}
{% set regular_content ="" %}
{% filter shortcodes %}
{% for article in function('get_fg_post_type','dir-activity', 100,'menu_order','ASC')  %}
  {# slick carousel#}
  {% set slick_carousel %}
    {% set images = article.get_field('fg-image') %}
    {% if images is iterable %}
        [slick_carousel id="slick_activity_{{article.ID}}" dots="true" ]
        {% for image in images %}
          {% set img_obj = TimberImage(image) %}
          [slick_slide]<img src="{{img_obj.src}}" style="max-width:100%" alt="{{img_obj.title}}" />[/slick_slide]
        {% endfor %}
        [/slick_carousel]
    {% else %}
    {% endif %}
  {% endset %}

  {% if article.get_field('fg_activity_type') == 'feature' %}
  {% set feature_content %}
    {{feature_content}}
    <li>
      <div class="row">
        <div class="col-lg-5">
            {{slick_carousel}}

            {% if article.get_field('fg-contact') and article.get_field('fg-contact') | first['email'] | length > 5 %}
            <div class="action-buttons">
              <a href="" class="btn btn-primary btn-reservation">Make a Reservation</a>
            </div>
            {#
            {% for contact in article.get_field('fg-contact') %}
              {{contact.email}}
            {% endfor %}
            #}
            {% endif %}

            {% if
              article.get_field('fg-website') or
              article.get_field('fg-facebook') or
              article.get_field('fg-tripadvisor') or
              article.get_field('fg-googleplus')
            %}
            <div class="activitie-social-media">
              {% if article.get_field('fg-website') %}
                <a href="{{article.get_field('fg-website')}}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
              {% endif %}
              {% if article.get_field('fg-facebook') %}
                <a href="{{article.get_field('fg-facebook')}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              {% endif %}
              {% if article.get_field('fg-tripadvisor') %}
                <a href="{{article.get_field('fg-tripadvisor')}}" target="_blank"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
              {% endif %}
              {% if article.get_field('fg-googleplus') %}
                <a href="{{article.get_field('fg-googleplus')}}" target="_blank"><i class="fa fa-googleplus" aria-hidden="true"></i></a>
              {% endif %}


            </div>
            {% endif %}

            {% set phone = article.get_field('fg-phone') %}
            <div>{{phone.office}} {{phone.toll}} {{phone.mobile}}</div>


        </div>
        <div class="col-lg-7">
          <div class="column-wrapper">
            <h3>{{article.title}}</h3>
            <div>{{article.get_field('fg-summary')}}</div>
          </div>
        </div>
      </div>
    </li>
    {% endset %}
  {% else %}
  {% set regular_content %}
    {{regular_content}}
    [panel title="{{article.title}}"]
      <div class="row">
        <div class="col-md-9 col-sm-8">
          <h3>{{article.title}}</h3>
          <div>{{article.get_field('fg-summary')}}</div>
        </div>
        <div class="col-md-3 col-sm-4">
          {% set phone = article.get_field('fg-phone') %}
          <div>{{phone.office}} {{phone.toll}} {{phone.mobile}}</div>

          {% for contact in article.get_field('fg-contact') %}
            {{contact.email}}
          {% endfor %}
        </div>
      </div>
    [/panel]
    {% endset %}
  {% endif %}
{% endfor %}
{% if feature_content | trim | length > 10  %}
  <ul class="activies-feature">{{feature_content}}</ul>
{% endif %}
<h3>Other Activities</h3>
{% if regular_content | trim | length > 10 %}
  [accordion]{{regular_content}}[/accordion]
{% endif %}
{% endfilter %}
