{% for article in function('get_fg_post_type','dir-activity', 100)  %}
  <div>{{article.title}}</div>
  {{article.get_field('fg-website')}}
  {{article.get_field('fg-facebook')}}
  {{article.get_field('fg-tripadvisor')}}
  {{article.get_field('fg-googleplus')}}
  {% for phone in article.get_field('fg-phone') %}
    <div>{{phone.office}} {{phone.toll}} {{phone.mobile}}</div>
  {% endfor %}
  {% for contact in article.get_field('fg-contact') %}
    {{contact.email}}
  {% endfor %}
  {{article.get_field('fg-summary')}}
  {% set images = article.get_field('fg-image') %}
  <div>
  {% if images is iterable %}
    {% filter shortcodes %}
      [slick_carousel id="slick_activity_{{article.ID}}" ]
      {% for image in images %}
        {% set img_obj = TimberImage(image) %}
        [slick_slide]<img src="{{img_obj.src}}" alt="{{img_obj.title}}" />[/slick_slide]
      {% endfor %}
      [/slick_carousel]
    {% endfilter %}
  {% else %}

  {% endif %}
  </div>
{% endfor %}
