{%filter shortcodes %}
[accordion]
{% for article in function('get_fg_post_type','dir-dining', 100)  %}
[panel title="{{article.title}}"]
<h3>{{article.title}}</h3>
<div>{{article.get_field('fg-summary')}}</div>
<pre>{{article.get_field('fg-phone') |json_encode}}</pre>
<pre>{{article.get_field('fg-address')|json_encode}}</pre>
[/panel]
{% endfor %}
[/accordion]
{% endfilter %}
