{%filter shortcodes %}
[accordion]
{% for s in options['services']  %}
[panel title="{{s.title}}"]
<div class="row services-row">
  {% if s.phone | length > 1 or s.online | length > 1 %}
  <div class=" col-lg-8">{{s.content}}</div>
  <div class=" col-lg-4">
    <div class="services-cta">
    {#
    {% if s.online | length > 0 %}
        <div class="title">Make a request</div>
        <a class="btn-primary btn btn-contact"
                data-message-type="{{s.online}}"
                data-activity="Check out time">Online<i class="circle-arrow-down "></i>
        </a>
    {% endif %}
    #}
    {% if s.phone | length > 0 %}<div class="service-extention">{{s.phone}}</div>{% endif %}
    </div>
  </div>
  {% else %}
    <div class="col-md-12">{{s.content}}</div>
  {% endif %}
</div>
[/panel]
{% endfor %}
[/accordion]
{% endfilter %}
